flows.json
[{"id":"89bd798a.ec5ff8","type":"tab","label":"Drone Placement","disabled":false,"info":""},{"id":"9ac3cbff.7235e8","type":"tab","label":"Drone Controller","disabled":false,"info":""},{"id":"e1aff747.bfa638","type":"tab","label":"Report Monitoring","disabled":false,"info":""},{"id":"a4ce0284.58d8e","type":"ui_group","z":"","name":"Map","tab":"","disp":true,"width":"30","collapse":false},{"id":"b935e701.680078","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#ee1643","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#ee1643","edited":true},"page-titlebar-backgroundColor":{"value":"#ee1643","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#f35d7d","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#ee1643","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"df625275.7a3a9","type":"ui_group","z":"","name":"Speed","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"582ceaa2.546c94","type":"ui_group","z":"","name":"Fleet","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"a39674d8.bce648","type":"ui_group","z":"","name":"Map2","tab":"","order":1,"disp":true,"width":25,"collapse":false},{"id":"7b89319.6eadad","type":"ui_group","z":"","name":"Placement Map","tab":"","disp":true,"width":"20","collapse":false},{"id":"cb959830.2c8558","type":"ui_group","z":"","name":"Sliders","tab":"","order":2,"disp":true,"width":"5","collapse":false},{"id":"5f112a84.ded7a4","type":"ui_group","z":"","name":"Map","tab":"","disp":true,"width":"30","collapse":false},{"id":"905bcae8.e5fdf8","type":"ui_group","z":"","name":"Speed","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"91135676.aa37b8","type":"ui_group","z":"","name":"Fleet","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"929e8074.1f40b","type":"ui_group","z":"","name":"Map2","tab":"","order":1,"disp":true,"width":25,"collapse":false},{"id":"305c3550.96b99a","type":"ui_group","z":"","name":"Placement Map","tab":"","disp":true,"width":"20","collapse":false},{"id":"1f944856.b292f8","type":"ui_group","z":"","name":"Intensities","tab":"","order":2,"disp":true,"width":"5","collapse":false},{"id":"4bfb04c9.1ae15c","type":"ui_group","z":"","name":"Deployment State","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"dd0d0400.2967c8","type":"ui_group","z":"","name":"Map","tab":"","disp":true,"width":"30","collapse":false},{"id":"a6886a5a.c40f68","type":"ui_tab","z":"","name":"Drone Controller","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"2ced04fb.1a5fdc","type":"ui_tab","z":"","name":"Report Monitoring","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"7f50574a.786c68","type":"ui_group","z":"","name":"Drone Controller","tab":"a6886a5a.c40f68","order":2,"disp":true,"width":"7","collapse":false},{"id":"4e84543b.23d83c","type":"ui_group","z":"","name":"Triangulation Map","tab":"2ced04fb.1a5fdc","order":1,"disp":true,"width":"25","collapse":false},{"id":"e7cd43ac.4ae3","type":"ui_tab","z":"","name":"Drone Placement","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"431c5fd5.671d5","type":"ui_group","z":"","name":"Placement Map","tab":"e7cd43ac.4ae3","disp":true,"width":"20","collapse":false},{"id":"3a25813e.af78ee","type":"ui_group","z":"","name":"Intensities","tab":"2ced04fb.1a5fdc","order":2,"disp":true,"width":8,"collapse":false},{"id":"c1515f71.1028b","type":"ui_group","z":"","name":"Drones Deployment ","tab":"a6886a5a.c40f68","order":3,"disp":true,"width":"7","collapse":false},{"id":"ba7f6ddc.89761","type":"ui_group","z":"","name":"Antennas Deployment","tab":"a6886a5a.c40f68","order":4,"disp":true,"width":"7","collapse":false},{"id":"8447c9b5.83b6a8","type":"ui_spacer","name":"spacer","group":"7f50574a.786c68","order":2,"width":7,"height":1},{"id":"e215bedc.e2776","type":"ui_spacer","name":"spacer","group":"7f50574a.786c68","order":5,"width":7,"height":1},{"id":"e2818f7e.7ac52","type":"worldmap in","z":"89bd798a.ec5ff8","name":"","path":"/worldmap3","events":"all","x":280,"y":220,"wires":[["afebb617.70c2a8"]]},{"id":"9aac0be3.86e558","type":"worldmap","z":"89bd798a.ec5ff8","name":"","lat":"47.36667","lon":"8.55","zoom":"12","layer":"Esri Terrain","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"false","panlock":"false","zoomlock":"true","hiderightclick":"false","coords":"none","showgrid":"false","path":"/worldmap3","x":690,"y":220,"wires":[]},{"id":"afebb617.70c2a8","type":"function","z":"89bd798a.ec5ff8","name":"drawGrid","func":"\nfunction inside(point, vs) {\n    // ray-casting algorithm based on\n    // http://www.ecse.rpi.edu/Homepages/wrf/Research/Short_Notes/pnpoly.html\n\n    var x = point[0], y = point[1];\n\n    var inside = false;\n    for (var i = 0, j = vs.length - 1; i < vs.length; j = i++) {\n        var xi = vs[i]['lat'], yi = vs[i]['lng'];\n        var xj = vs[j]['lat'], yj = vs[j]['lng'];\n\n        var intersect = ((yi > y) != (yj > y)) && (x < (xj - xi) * (y - yi) / (yj - yi) + xi);\n        if (intersect) inside = !inside;\n    }\n\n    return inside;\n}\n\nfunction measure(lat1, lon1, lat2, lon2){  // generally used geo measurement function\n    var R = 6378.137; // Radius of earth in KM\n    var dLat = lat2 * Math.PI / 180 - lat1 * Math.PI / 180;\n    var dLon = lon2 * Math.PI / 180 - lon1 * Math.PI / 180;\n    var a = Math.sin(dLat/2) * Math.sin(dLat/2) +\n    Math.cos(lat1 * Math.PI / 180) * Math.cos(lat2 * Math.PI / 180) *\n    Math.sin(dLon/2) * Math.sin(dLon/2);\n    var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1-a));\n    var d = R * c;\n    return d * 1000; // meters\n}\n\nif(msg.payload.action === \"connected\"){\n    var newmsg = {payload:{\"command\":{\"showlayer\":\"drawing\"}}};\n    node.send(newmsg);\n}\n\nif('area' in msg.payload){\n    var tempMsg = msg\n    var minLat = tempMsg.payload['area'][0]['lat'];\n    var maxLat = tempMsg.payload['area'][0]['lat'];\n    var minLng = tempMsg.payload['area'][0]['lng'];\n    var maxLng = tempMsg.payload['area'][0]['lng'];\n    n = tempMsg.payload['area'].length;\n    for (i = 0; i < n; i++){\n        point = tempMsg.payload['area'][i]\n        if (minLng > point['lng']){\n            minLng = point['lng'];\n        }\n        if (maxLng < point['lng']){\n            maxLng = point['lng'];\n        }\n        if (minLat > point['lat']){\n            minLat = point['lat'];\n        }\n        if (maxLat < point['lat']){\n           maxLat = point['lat'];\n        }\n    }\n    var deltaGrid = 0.001;\n    var lat = minLat;\n    var lng = minLng;\n    var newMsg = tempMsg;\n    var pointsInGrid = [];\n    i = 0;\n    while (lng < maxLng){\n        while (lat < maxLat){\n            if (inside([lat,lng], tempMsg.payload['area'])){\n                pointsInGrid[i] = [lat, lng, 0];\n                i = i+1;\n                //var tmp = {payload : { \"name\": name, \"lat\":lat, \"lon\":lng, \"radius\":200}}\n                //node.send(tmp);\n            }\n            lat = lat + deltaGrid;\n        }\n        lat = minLat;\n        lng = lng + deltaGrid;\n    }\n    r = 0.02;\n    d = measure(r*0.8,0,0,0);\n    for(i=0; i<pointsInGrid.length; i++){\n        if(pointsInGrid[i][2]<0.5){\n            name = \"node\" + i.toString();\n            var tmp = {payload : { \"name\": name, \"lat\":pointsInGrid[i][0], \"lon\":pointsInGrid[i][1],\"icon\":\":balloon:\", \"radius\":d, opt: { opacity:0.2}}}\n            node.send(tmp);\n            for(j=0; j<pointsInGrid.length; j++){\n                if(Math.sqrt(Math.pow(pointsInGrid[i][0]-pointsInGrid[j][0],2)+Math.pow(pointsInGrid[i][1]-pointsInGrid[j][1],2)) < r){\n                    pointsInGrid[j][2] = 1;\n                }\n            }\n        }\n        \n        \n    }\n   //newMsg = {payload: {\"name\": \"zone1\", \"area\": [ [minLat, minLng], [maxLat, maxLng]]} };\n   return newMsg;\n}\n","outputs":1,"noerr":0,"x":460,"y":220,"wires":[["9aac0be3.86e558"]]},{"id":"64cbd153.f3cb7","type":"function","z":"89bd798a.ec5ff8","d":true,"name":"test","func":"\nif('area' in msg.payload){\n    n = msg.payload['area'].length\n    msg.payload = {\"test\": n}\n}\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":180,"wires":[[]]},{"id":"954e8774.470bc8","type":"ui_template","z":"89bd798a.ec5ff8","group":"431c5fd5.671d5","name":"embed map in dashboard","order":1,"width":0,"height":0,"format":"<embed src=https://flyingducks.eu-gb.cf.appdomain.cloud/worldmap3/ height=800px>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":330,"y":280,"wires":[[]]},{"id":"e6d7e74e.fc5218","type":"ui_gauge","z":"9ac3cbff.7235e8","name":"","group":"7f50574a.786c68","order":4,"width":0,"height":0,"gtype":"gage","title":"Speed","label":"Km/h","format":"{{value}}","min":0,"max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":770,"y":260,"wires":[]},{"id":"e679eb8b.0c5c98","type":"ui_slider","z":"9ac3cbff.7235e8","name":"","label":"Speed","tooltip":"","group":"7f50574a.786c68","order":6,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":"40","step":1,"x":570,"y":260,"wires":[["e6d7e74e.fc5218"]]},{"id":"9fc0653f.3d12b8","type":"ui_slider","z":"9ac3cbff.7235e8","name":"","label":"Fleet","tooltip":"","group":"7f50574a.786c68","order":3,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":"200","step":1,"x":570,"y":360,"wires":[["86b6affe.9784b","9f7e5203.a53f6"]]},{"id":"86b6affe.9784b","type":"ui_gauge","z":"9ac3cbff.7235e8","name":"","group":"7f50574a.786c68","order":1,"width":0,"height":0,"gtype":"gage","title":"Fleet","label":"units","format":"{{value}}","min":0,"max":"200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":770,"y":360,"wires":[]},{"id":"98baf103.ffb3c","type":"worldmap","z":"e1aff747.bfa638","name":"","lat":"47.36667","lon":"8.55","zoom":"12","layer":"Esri Terrain","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"false","coords":"none","showgrid":"false","path":"/worldmap2","x":1390,"y":340,"wires":[]},{"id":"24b39276.5ad3be","type":"ui_template","z":"e1aff747.bfa638","group":"4e84543b.23d83c","name":"embed map 3 antennas","order":1,"width":0,"height":0,"format":"<embed src=https://flyingducks.eu-gb.cf.appdomain.cloud/worldmap2/ height=800px>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":250,"y":380,"wires":[[]]},{"id":"594be6be.716788","type":"ui_slider","z":"e1aff747.bfa638","name":"","label":"I2 [dBm]","tooltip":"","group":"3a25813e.af78ee","order":2,"width":0,"height":0,"passthru":true,"outs":"all","topic":"intensity2","min":"10","max":"1000","step":"10","x":680,"y":300,"wires":[["544894fe.b82f9c"]]},{"id":"78b6e47f.3eff0c","type":"ui_slider","z":"e1aff747.bfa638","name":"","label":"I1 [dBm]","tooltip":"","group":"3a25813e.af78ee","order":1,"width":0,"height":0,"passthru":true,"outs":"all","topic":"intensity1","min":"10","max":"1000","step":"10","x":680,"y":240,"wires":[["df368ad.2240678"]]},{"id":"ae52051f.afdc68","type":"ui_slider","z":"e1aff747.bfa638","name":"","label":"I3 [dBm]","tooltip":"","group":"3a25813e.af78ee","order":3,"width":0,"height":0,"passthru":true,"outs":"all","topic":"intensity3","min":"10","max":"1000","step":"10","x":680,"y":360,"wires":[["fb57c145.dccbf"]]},{"id":"7d568957.e6b048","type":"function","z":"e1aff747.bfa638","name":"compute golfer","func":"// static coordinates\nvar latA = 47.365350;\nvar latB = 47.398877;\nvar latC = 47.363517;\nvar longA = 8.512168;\nvar longB = 8.514217;\nvar longC = 8.574580;\n\n// init\nvar tmp = {payload:{\"name\":\"antA\", \"lat\":latA, \"lon\":longA, \"radius\":0, \"icon\":\":balloon:\",}};\nnode.send(tmp);\ntmp = {payload:{\"name\":\"antB\", \"lat\":latB, \"lon\":longB, \"radius\":0, \"icon\":\":balloon:\"}};\nnode.send(tmp);\ntmp = {payload:{\"name\":\"antC\", \"lat\":latC, \"lon\":longC, \"radius\":0, \"icon\":\":balloon:\" }};\nnode.send(tmp);\n\nvar inA = global.get(\"i1\");\nvar inB = global.get(\"i2\");\nvar inC = global.get(\"i3\");\n\nvar lat = (inA*latA+inB*latB+inC*latC)/(inA+inB+inC);\nvar lon = (inA*longA+inB*longB+inC*longC)/(inA+inB+inC);\ntmp = {payload:{\"name\":\"antmob\", \"lat\":lat, \"lon\":lon, \"radius\":400, \"icon\":\":man-golfing:\"}};\nnode.send(tmp);\n\nmsg.payload = {\"lat\":lat, \"long\":lon};\nreturn msg;","outputs":1,"noerr":0,"x":1100,"y":300,"wires":[["98baf103.ffb3c","7cc3120e.4522cc","ab35cdde.6bd08"]]},{"id":"df368ad.2240678","type":"change","z":"e1aff747.bfa638","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"i1","tot":"global"},{"t":"set","p":"payload","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":240,"wires":[["7d568957.e6b048"]]},{"id":"544894fe.b82f9c","type":"change","z":"e1aff747.bfa638","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"i2","tot":"global"},{"t":"set","p":"payload","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":300,"wires":[["7d568957.e6b048"]]},{"id":"fb57c145.dccbf","type":"change","z":"e1aff747.bfa638","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"i3","tot":"global"},{"t":"set","p":"payload","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":360,"wires":[["7d568957.e6b048"]]},{"id":"f2b5541.59833a8","type":"function","z":"e1aff747.bfa638","name":"sliders intensities","func":"if(msg.payload.action === \"connected\"){\n    var newmsg = {payload:10};\n    return newmsg\n}\n","outputs":1,"noerr":0,"x":470,"y":300,"wires":[["78b6e47f.3eff0c","594be6be.716788","ae52051f.afdc68"]]},{"id":"f72f4c06.b0152","type":"worldmap in","z":"e1aff747.bfa638","name":"","path":"/worldmap2","events":"","x":200,"y":300,"wires":[["f2b5541.59833a8","1804e7c0.e90088"]]},{"id":"1804e7c0.e90088","type":"function","z":"e1aff747.bfa638","name":"init","func":"// static coordinates\nvar latA = 47.365350;\nvar latB = 47.398877;\nvar latC = 47.363517;\nvar longA = 8.512168;\nvar longB = 8.514217;\nvar longC = 8.574580;\n\n// init\nvar tmp = {payload:{\"name\":\"antA\", \"lat\":latA, \"lon\":longA, \"radius\":0, \"icon\":\":balloon:\",}};\nnode.send(tmp);\ntmp = {payload:{\"name\":\"antB\", \"lat\":latB, \"lon\":longB, \"radius\":0, \"icon\":\":balloon:\"}};\nnode.send(tmp);\ntmp = {payload:{\"name\":\"antC\", \"lat\":latC, \"lon\":longC, \"radius\":0, \"icon\":\":balloon:\" }};\nnode.send(tmp);\n","outputs":1,"noerr":0,"x":830,"y":440,"wires":[["98baf103.ffb3c"]]},{"id":"536bf579.2ce65c","type":"ui_gauge","z":"9ac3cbff.7235e8","name":"","group":"c1515f71.1028b","order":2,"width":0,"height":0,"gtype":"wave","title":"Drones Charging","label":"units","format":"{{value}}","min":0,"max":"200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1290,"y":560,"wires":[]},{"id":"ea668ef5.e1061","type":"function","z":"9ac3cbff.7235e8","name":"compute ","func":"msg.value  = Math.floor(7+Math.random()*6);\nreturn msg;","outputs":1,"noerr":0,"x":1020,"y":560,"wires":[["536bf579.2ce65c"]]},{"id":"bb90d262.e45b9","type":"inject","z":"9ac3cbff.7235e8","name":"every 5 secs","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":760,"y":560,"wires":[["ea668ef5.e1061"]]},{"id":"4da05e5e.771ff","type":"ui_gauge","z":"9ac3cbff.7235e8","name":"","group":"c1515f71.1028b","order":1,"width":0,"height":0,"gtype":"wave","title":"Drones Flying","label":"units","format":"{{value}}","min":0,"max":"200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1280,"y":640,"wires":[]},{"id":"aa68aad8.b61ae8","type":"function","z":"9ac3cbff.7235e8","name":"compute ","func":"var fleet = global.get(\"i5\");\nmsg.value  = Math.floor(fleet+Math.random()*6);\nreturn msg;","outputs":1,"noerr":0,"x":1020,"y":640,"wires":[["4da05e5e.771ff"]]},{"id":"7044e12f.a887e","type":"inject","z":"9ac3cbff.7235e8","name":"every 5 secs","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":760,"y":640,"wires":[["aa68aad8.b61ae8"]]},{"id":"9f7e5203.a53f6","type":"change","z":"9ac3cbff.7235e8","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"i5","tot":"global"},{"t":"set","p":"payload","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":440,"wires":[[]]},{"id":"53e243db.231e3c","type":"ui_gauge","z":"9ac3cbff.7235e8","name":"","group":"ba7f6ddc.89761","order":2,"width":0,"height":0,"gtype":"donut","title":"Antennas Online","label":"units","format":"{{value}}","min":0,"max":"2000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1390,"y":780,"wires":[]},{"id":"efd98bf7.fcf148","type":"function","z":"9ac3cbff.7235e8","name":"compute ","func":"msg.value  = Math.floor(7+Math.random()*6);\nreturn msg;","outputs":1,"noerr":0,"x":1120,"y":780,"wires":[["53e243db.231e3c"]]},{"id":"e4e140b1.d0cc3","type":"inject","z":"9ac3cbff.7235e8","name":"every 5 secs","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":860,"y":780,"wires":[["efd98bf7.fcf148"]]},{"id":"f94dede4.f0f81","type":"ui_gauge","z":"9ac3cbff.7235e8","name":"","group":"ba7f6ddc.89761","order":1,"width":0,"height":0,"gtype":"donut","title":"Antennas Offline","label":"units","format":"{{value}}","min":0,"max":"200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1380,"y":860,"wires":[]},{"id":"681ac4ec.04b3dc","type":"function","z":"9ac3cbff.7235e8","name":"compute ","func":"msg.value  = 0;\nreturn msg;","outputs":1,"noerr":0,"x":1120,"y":860,"wires":[["f94dede4.f0f81"]]},{"id":"ee0bd2fe.cb5ab","type":"inject","z":"9ac3cbff.7235e8","name":"every 5 secs","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":860,"y":860,"wires":[["681ac4ec.04b3dc"]]},{"id":"7cc3120e.4522cc","type":"ui_text","z":"e1aff747.bfa638","group":"3a25813e.af78ee","order":5,"width":0,"height":0,"name":"","label":"Latitute:","format":"{{msg.payload[\"lat\"]}}","layout":"row-spread","x":1360,"y":160,"wires":[]},{"id":"ab35cdde.6bd08","type":"ui_text","z":"e1aff747.bfa638","group":"3a25813e.af78ee","order":6,"width":0,"height":0,"name":"","label":"Longitude:","format":"{{msg.payload[\"long\"]}}","layout":"row-spread","x":1370,"y":100,"wires":[]},{"id":"616a1857.993968","type":"ui_text_input","z":"e1aff747.bfa638","name":"","label":"Person Position","tooltip":"","group":"3a25813e.af78ee","order":4,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":1380,"y":40,"wires":[[]]},{"id":"16fc2272.7c581e","type":"ui_button","z":"e1aff747.bfa638","name":"","group":"3a25813e.af78ee","order":7,"width":0,"height":0,"passthru":false,"label":"Send rescue","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":1370,"y":220,"wires":[[]]}]